In [3]:
from cleaners import Cleaner
import pandas as pd 

df=pd.read_excel("26_May_2024 _Daily.xlsx", sheet_name="67")
# print(df.info())
cln=Cleaner()

df_1=cln.clean_df(df)

# df_1[df_1.columns[df_1.columns.str.contains("Date")]].info()

df_2=cln.prep(df_1)
print(df_2.columns[-3:])

Index(['leadtime in days', 'District_Name', 'District_Code'], dtype='object')

/workspaces/Analytics-Projects/cleaners.py:9: UserWarning: Parsing dates in %d/%m/%Y %H%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[c]=pd.to_datetime(df[c], errors='coerce')
/workspaces/Analytics-Projects/cleaners.py:9: UserWarning: Parsing dates in %d/%m/%Y %H%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[c]=pd.to_datetime(df[c], errors='coerce')
/workspaces/Analytics-Projects/cleaners.py:9: UserWarning: Parsing dates in %d/%m/%Y %H%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[c]=pd.to_datetime(df[c], errors='coerce')

In [4]:

print(df_2.columns[-3:])

Index(['leadtime in days', 'District_Name', 'District_Code'], dtype='object')

In [5]:
df_2.columns[df_2.columns.str.contains("Net Deli")]

Index(['Net Delivery MT'], dtype='object')

In [8]:
df_2.groupby(['District_Name', 'District_Code'])[['leadtime in days','Net Delivery MT']].agg({
    "Net Delivery MT":['sum','min','max','count','mean'],
    "leadtime in days":['min','max','count','mean']
})

                                 Net Delivery MT                       \
                                             sum    min     max count
District_Name      District_Code
As Safra           2212                    1.455  0.300   0.660     3
Ghamer             2204                    0.195  0.195   0.195     1
Hasabaa, St-Sana'a 0                      34.635  0.000   2.640    67
Haydan             2209                   19.290  6.150  13.140     2
Razih              2205                    4.755  0.375   1.680     6
Sa'ada             2215                    8.865  0.165   3.300     7
Sahar              2211                   10.005  0.330   2.970     9
Shada              2206                    0.270  0.135   0.135     2

                                           leadtime in days               \
                                      mean              min    max count
District_Name      District_Code
As Safra           2212           0.485000           2 days 2 days     3
Ghamer             2204           0.195000           2 days 2 days     1
Hasabaa, St-Sana'a 0              0.516940           2 days 2 days    67
Haydan             2209           9.645000           2 days 2 days     2
Razih              2205           0.792500           2 days 2 days     6
Sa'ada             2215           1.266429           2 days 2 days     7
Sahar              2211           1.111667           2 days 2 days     9
Shada              2206           0.135000           2 days 2 days     2


                                   mean
District_Name      District_Code
As Safra           2212          2 days
Ghamer             2204          2 days
Hasabaa, St-Sana'a 0             2 days
Haydan             2209          2 days
Razih              2205          2 days
Sa'ada             2215          2 days
Sahar              2211          2 days
Shada              2206          2 days